html {
  box-sizing: border-box;
  background: url('https://images.unsplash.com/photo-1528818916884-44315b08291b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6de5a15c418db09ba9a0c14c8ee6cc06&auto=format&fit=crop&w=889&q=80') fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
}

.items {
  height:800px;
  padding: 100px;
  width:100%;
  border:1px solid white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  background: rgba(255,255,255,0.1);
  font-size: 0;
  perspective: 500px;
}

.items.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width:200px;
  height: calc(100% - 40px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  color:rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}

.item:nth-child(9n+1) { background: url('https://images.unsplash.com/photo-1524181107684-20f8434d540b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=78eda37fe2b4c390f379b2850eb2b8b2&auto=format&fit=crop&w=562&q=80');}
.item:nth-child(9n+2) { background: url('https://images.unsplash.com/photo-1506272517965-ec6133efee7a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=639c9d8d042273ef3ac080b7e50ab4a1&auto=format&fit=crop&w=889&q=80');}
.item:nth-child(9n+3) { background: url('https://images.unsplash.com/photo-1504221507732-5246c045949b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3db8b05daf1b70f000d052709198134c&auto=format&fit=crop&w=750&q=80');}
.item:nth-child(9n+4) { background: url('https://images.unsplash.com/photo-1534543210152-32025bcfaad9?ixlib=rb-0.3.5&s=28f31f9d2e22c4570ef3dfd788b81d8a&auto=format&fit=crop&w=334&q=80');}
.item:nth-child(9n+5) { background: url('https://images.unsplash.com/photo-1536697246787-1f7ae568d89a?ixlib=rb-0.3.5&s=368a201ca005dd35e542b30bee961c5b&auto=format&fit=crop&w=334&q=80');}
.item:nth-child(9n+6) { background: url('https://images.unsplash.com/photo-1527826507412-72e447368aa1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=94cb65a861d72fa50f635661716c9cec&auto=format&fit=crop&w=334&q=80');}
.item:nth-child(9n+7) { background: url('https://images.unsplash.com/photo-1532446997697-0b92fdc456fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9d08e1ce1970558d60abd547d8fe97b2&auto=format&fit=crop&w=625&q=80');}
.item:nth-child(9n+8) { background: url('https://images.unsplash.com/photo-1518326815392-fd33bc3e4ccb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fa983ddcf9c80e0815e655c9a337fa38&auto=format&fit=crop&w=750&q=80');}
.item:nth-child(9n+9) { background: url('https://images.unsplash.com/photo-1517976547714-720226b864c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=079d92b0c69a30c1185678b154acd74a&auto=format&fit=crop&w=750&q=80');}

.item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
.item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }
